.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px;

    & > .content {
        display: flex;
        flex: 1;
        flex-direction: row;
        font-family: BAMC;

        & > .main-view {
            display: flex;
            flex-direction: column;
            flex: 1;
            background-color: #111;
            color: white;

            & > .chat-view {
                position: relative;
                padding: 8px 15px;
                overflow: hidden;
                height: 180px;
                border-bottom: 5px solid white;

                & > button {
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    padding: 3px;
                    font-size: 14px;
                }

                & > .virtualized {
                    height: 100%;
                    width: 100%;
                    overflow: auto;
                    & > div {
                        min-height: 1.2em;
                        line-height: 1.2em;
                        white-space: pre-wrap;
                    }
                }

                &.hide {
                    margin-top: -185px;
                }
            }

            & > .game-view {
                position: relative;
                padding: 8px 15px;
                overflow: hidden;
                flex: 1;
                & > .virtualized {
                    height: 100%;
                    width: 100%;
                    overflow: auto;

                    & > div {
                        min-height: 1.1em;
                        line-height: 1.1em;
                        white-space: pre-wrap;
                    }
                }
            }

        }


        & > .side-view {
            margin-left: 5px;
            display: flex;
            flex-direction: column;
        }
    }


    & > form {
        width: 100%;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        & > .input {
            flex: 1;
            padding: 6px 8px;
            outline: none;
            font-size: 16px;
        }

        & > button {
            font-size: 16px;
        }
    }
}

