.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px;

    & > .main-view {
        display: flex;
        flex: 1;
        flex-direction: row;
        font-family: BAMC;

        & > .container {
            flex: 1;
            overflow: auto;
            margin: 0;
            padding: 15px;

            background-color: #111;
            color: white;

            & > div {
                min-height: 1.1em;
                line-height: 1.1em;
                white-space: pre-wrap;
            }
        }

        & > .side-view {
            margin-left: 5px;
            display: flex;
            flex-direction: column;
        }
    }


    & > form {
        width: 100%;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        & > .input {
            flex: 1;
            padding: 6px 8px;
            outline: none;
            font-size: 16px;
        }

        & > button {
            font-size: 16px;
        }
    }
}

