.emap {
    border: 1px solid #333;
    height: 252px;
    width: 252px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #222;

    & > .title {
        height: 30px;
        line-height: 30px;
        z-index: 10;
        color: #111;
        font-size: 14px;
        padding-left: 8px;
        background-color: #eee;
        color: #111;
    }

    & > .wrapper {

        & > .row {
            display: flex;

            & > .node {
                height: 1em;
                width: 1em;
                font-size: 12px;
                color: white;

                &.active {
                    color: red;
                }
            }
        }
    }

}

