@width: 6px;

.bar-widget {
    position: relative;
    border: 1px solid #ccc;
    width: @width;
    background-color: white;

    & > .bar-value {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }

    &.horizontal {
        width: inherit;
        height: @width;

        & > .bar-value {
            bottom: inherit;
            top: 0px;
            width: inherit;
            height: 100%;
        }
    }
}
